! User specified resources for X-applications


! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! Copyright (c) 2016-present Sven Greb <code@svengreb.de>

! Project:    Nord XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6


! ncview resources
! J. Garbe 06/2020

! Foreground and background colors
Ncview*foreground:      nord4
Ncview*background:      nord2
Ncview*borderColor:     nord4
Ncview*highlight:       nord11
Ncview*PlotXY_canvas*background: nord2

! Use different colors for different variable dimension types
Ncview*varColors:       1

! Code dimentionality of variables
Ncview*foreground1d:	nord4
Ncview*foreground2d:	nord14
Ncview*foreground3d:	nord13
Ncview*foreground4d:	nord12
Ncview*foreground5d:	nord11

! Make labels wider
Ncview*labelWidth:      550
Ncview*dimLabelWidth:	95
Ncview*varLabelWidth:   234
Ncview*buttonWidth:     55

! Reduce the number of variables per row (default: 4)
Ncview*nVarsPerRow:     2

! Do not mask out continents by default (only for lon,lat data)
Ncview*autoOverlay:    0

! Make the font smaller
Ncview*font:            -*-helvetica-bold-r-*-*-12-*-*-*-*-*-*-*
Ncview*PlotXY_canvas*font:     -*-helvetica-bold-r-*-*-12-*-*-*-*-*-*-*
!Ncview*axisfont:        10

! Make lines thicker
Ncview*borderWidth:     1
